{
    "presets": [
        ["env", {
            "targets": {
            "browsers": ["last 2 versions", "not OperaMini > 0", "not UCAndroid > 0", "not QQAndroid > 0"]
            },
            "modules": false
        }],
        "react",
        "stage-2"
    ],
    "plugins": [
        "react-hot-loader/babel"
    ]
}