{
    "parserOptions": {
        "ecmaVersion": 6
    },

    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },

    "plugins": ["promise"],

    "rules": {
        "no-console": "error",
        "arrow-spacing": ["error", {
            "before": true,
            "after": true
            }
        ],
        "curly": "error",
        "no-var": "error",
        "no-trailing-spaces": "error",
        "indent": ["error", 4, {
            "SwitchCase": 1
            }
        ],
        "object-curly-spacing": ["error", "never"],
        "eol-last": ["error", "always"],
        "no-bitwise": ["error"],
        "no-invalid-regexp": "error",
        "no-unreachable": "error",
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "ignore"
        }],
        "prefer-spread": "error",
        "prefer-template": "error",
        "semi": "error",
        "global-require": "error",
        "promise/catch-or-return": "error"
    }
}
